@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Helvetica Neue';
        src:
        url('https://storage.googleapis.com/staging-sst-01-staging-static/HelveticaNeueLight.woff2') format('woff2'),
        url('https://storage.googleapis.com/staging-sst-01-staging-static/HelveticaNeueLight.woff') format('woff');
        font-weight: 300;
    }

    @font-face {
        font-family: 'Helvetica Neue';
        src:
        url('https://storage.googleapis.com/staging-sst-01-staging-static/HelveticaNeueRoman.woff2') format('woff2'),
        url('https://storage.googleapis.com/staging-sst-01-staging-static/HelveticaNeueRoman.woff') format('woff');
        font-weight: 400;
    }
}

[x-cloak] {
  display: none;
}

input[type='text'].mapboxgl-ctrl-geocoder--input[placeholder='Search'] {
  @apply px-8;
}

.text-header {
  @apply font-sans font-bold text-5xl;
}

.text-subheader {
  @apply font-sans text-2xl leading-normal tracking-normal font-normal;
}

.text-section {
  @apply font-sans font-bold text-2xl;
}

.text-feature {
  @apply font-serif text-lg;
}

.text-body {
  @apply font-serif text-base;
}

.text-navigation {
  @apply font-sans hover:font-bold text-base hover:text-gray-500 hover:underline active:text-gray-500 active:underline;
}

.text-detail {
  @apply font-sans font-[600] text-base;
}

a {
  @apply text-blue-700;
}

/* Rounded corners for Plotly tooltips */
.js-plotly-plot .hoverlayer .hovertext {
  border-radius: 16px !important;
  overflow: hidden;
  padding: 8px !important;
}
