.layout\:max-width {
  @apply max-w-[1600px] mx-auto px-8;
}

.layout\:grid {
  @apply grid grid-cols-[repeat(20,1fr)] px-8;
}

.layout\:box-container {
  @apply rounded-[50px] overflow-hidden bg-white;
}

.type\:section-label {
  @apply text-[16px] text-[#6E6D6C] font-normal leading-[100%];
}

.type\:section-title {
  @apply text-[34px] text-[#000000] font-light leading-[100%];
}

:root {
  --landing-foreground: #000000;
  --landing-color-orange: #f79122;
  --landing-color-gray: #eef2f6;
  --font-primary: 'Helvetica Neue', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}

.main {
  font-family: var(--font-primary);
  color: var(--landing-foreground);
}

.bg-landing-orange {
  background-color: var(--landing-color-orange);
}

.text-landing-orange {
  color: var(--landing-color-orange);
}

.bg-landing-gray {
  background-color: var(--landing-color-gray);
}

.font-secondary {
  font-family: var(--font-secondary);
}
